{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">جستجو</h1>
        </div>
    </div>
</header>
<!-- About Us-->
<div class="container"><br>
    <div class="row"><br>
        <center>
        <div class="col-md-12"><br>
            <div class="card">
                <div class="card-header">
                محصولات یافت شده
                
            {% comment %} <div class="card-body">
                <form action={% url "search" %} method="POST">
                    {% csrf_token %}
                <input type="text" class="form-control" placeholder="جستجوی محصولات" name="searched">
                <br>
                <button type="submit" class="btn btn-primary">جستجو</button>
                </form>
            </div> {% endcomment %}
            </div>
            <br>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if searched %}
                {% for item in searched %}
                            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{item.image.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            {{item.category.name}}
                            <br>
                                
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{item.name}}</h5>
                            <!-- Product price-->
                            <span>{{ item.price|persian_price }} تومان</span>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <style>
                            .action-button {
                                margin-left: 10px;
                                transition: all 0.3s ease;
                            }

                            .action-button:hover {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                transform: translateY(-3px);
                            }
                        </style>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-dark mt-auto action-button" href="{% url "product" item.id %}">مشاهده جزئیات</a>

                        </div>
                    </div>
                </div>
            </div>

                {% endfor %}

            {% endif %}
            </div>
            </div>
    </div>  
        <center>      
    </div>
</div>
<br>
{% endblock %}

