{% extends "base.html" %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ثبت نام حساب کاربری</h1>
        </div>
    </div>
</header>
<!-- About Us-->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">        
            <form method="POST" action="{% url 'signup' %}" class="p-4 bg-light rounded shadow-sm">

            {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% for field in form %}
                    <div class="mb-2">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                    </div>
            {% endfor %}
                <br>
                <br>
            {% comment %} <button type="submit" class="btn btn-primary">ثبت نام</a> {% endcomment %}
            <button type="submit" class="btn btn-primary w-100">ثبت نام</button>

        </form>    
        
      </div>
    </div>
</div>
<br>
{% endblock %}

